*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color{
    background-color: #a7dd11f8;
}

.footer{
    background-color: #7b7985f8;
    height: 4rem;
}